
.current-day {
    background-color: lightblue;
    font-weight: bold;
    animation: pulse 2s infinite;
}

@keyframes pulse {
    0% {
        transform: scale(1);
    }
    50% {
        transform: scale(1.1);
    }
    100% {
        transform: scale(1);
    }
}

body {
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    margin: 0;
    padding: 30px;
    font-family: Arial, sans-serif;
    margin: center;
    box-sizing: border-box;
     
     

}
.image-container {
    background-image: url("how-to-make-background-blur-for-vertical-video.jpg");
    display: block; 
    background-repeat: no-repeat;
    background-size: cover; /* Ensures the image covers the container */
    margin: 100px;
    color: #000000;
    opacity: 0.9; 
    
}

.image-container::before {
    content: '';
    position: absolute;
    background-image: url("plane-6559698_1280.jpg"); 
    background-repeat: no-repeat;
    background-size: cover; /* Ensures the image covers the container */
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    filter: blur(8px); /* Set a specific blur value */
    z-index: -1;
}

.image-container::after {
    content: '';
    position: absolute;
    display: block; 
    background: rgba(255, 255, 255, 0.705); /* Semi-transparent white layer */
    mix-blend-mode: lighten; 
    z-index: -2;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-size: cover; /* Ensures the image covers the container */
}





.calendar, .info {
    margin: 0 50px;
    text-align: center;
    font-style: italic;
    margin: flex;
    top: 6%;
}


table {
    border-collapse: collapse;
    box-shadow: inset 0px 0px 5px rgba(255, 255, 255, 0),
    9px 15px 20px rgba(0, 0, 0, 0.697);
    width: 450px;     
    height: 400px;
    margin-top: 250px;
    

    
}









.controls button {
    /* margin: 0 90px; */
    font-size: 15px;
    color: #090909 !important;
    text-transform: uppercase;
    text-decoration: none;
    background: #eee06500;
    padding: 30px;
    border-radius: 50px;
    display: inline-block;
    border: left 50px;
    transition: all 0.4s ease 0s;
    backdrop-filter: blur(4px) saturate(200%);
    -webkit-backdrop-filter: blur(4px) saturate(200%);
    background-color: rgba(247, 242, 228, 0.682);
    border-radius: 50px ;
    border: 1px solid rgba(300, 213, 209, 1);
    box-shadow: inset 5px 1px 5px rgba(0, 0, 0, 0.794);
    
            
    
}

th, td {
    border: 1px solid #ffffff00;
    padding: 10px;
    text-align: center;
    border-radius: 1px 30%;
    backdrop-filter: blur(4px) saturate(200%);
    -webkit-backdrop-filter: blur(4px) saturate(200%);
    
    
}

th:nth-child(6), /* Samstag */
td:nth-child(6) {
    background-color: #f79797e5; /* ROT für Samstag */
    backdrop-filter: blur(4px) saturate(200%);
    -webkit-backdrop-filter: blur(4px) saturate(200%);
}
th:nth-child(7), /* Sonntag */
td:nth-child(7) {
    background-color: #fa7676f8; /* ROT für Sonntag */
    backdrop-filter: blur(4px) saturate(200%);
    -webkit-backdrop-filter: blur(4px) saturate(200%);
}



th {
    background-color: #dace5d98;
    backdrop-filter: blur(4px) saturate(200%);
    -webkit-backdrop-filter: blur(4px) saturate(200%);
}


h1 {
    
    font-size: 30px;
    font-style: oblique;
    opacity: 80%;
    padding: 5px;
    margin-left: 300px;
    margin-bottom: 30px;
    color: #000000;
    background: #33333300;
    text-shadow: #FFF 0px 0px 5px, #FFF 0px 0px 10px, #FFF 0px 0px 15px, #f8a304f8 0px 0px 20px, #ffffff 0px 0px 30px, #ffffff 0px 0px 40px, #ded2d8 0px 0px 50px, #FF2D95 0px 0px 75px;
    box-shadow: inset 0px 0px 0px rgb(143, 140, 140),
                0px 20px 20px rgba(0, 0, 0, 0.194);
    
    
    
}
.info {
    max-width: 3000px;
    box-shadow: #ffffff;
    color: black;
    background: #000000;
    
    -moz-background-clip: text;
    background-clip: text;
    text-shadow: 0px 3px 3px rgba(0, 0, 0, 0.091);
    
    
    
}

td:hover {
    background-color: #05cfee;
    
    
}



.controls {
    justify-content:start;
    align-items: center;
    display: flex;
    box-shadow: #000000;
    
    
}






.current-day {
    background-color: rgb(135, 210, 236);
    font-weight: bold;
    animation: pulse 2s infinite;
}

@keyframes pulse {
    0% {
        transform: scale(1);
    }
    50% {
        transform: scale(1.1);
    }
    100% {
        transform: scale(1);
    }
}





.controls :hover {
    text-shadow: 0px 0px 6px rgba(240, 236, 236, 0.57);
    box-shadow: 0px 2px 30px -2px rgba(248, 247, 247, 0.494);
    transition: all 0.4s ease 0s;
    
}



.arrow {
    background-color: #0c0c0c;
    border-radius: 4px;
    padding: 10px;
    font-size: 24px;
    cursor: pointer;
    margin-top: 250px;
    
    
}


.arrow:hover {
    background-color: #ffffff;
    outline: none;
    box-shadow: 0 0 5px #000000;
    cursor: pointer
    
    
}


.box {
    width: 100px;
    height: 100px;
    border: 1px solid black;
}

.changing {
    animation: colorchange 2s;
}





.holiday {
    background-color: #ffcccc;
}




.info h3 {
    margin-top: 1px;
    background-color: #ffffff42;
    font-style: italic;
    text-wrap: balance;
    border-radius: 50px 5%;
    
    /* animation für den Infotext .info h3 */
    animation: textwelle 1s;
}

@keyframes textwelle {
    0% {
        transform: scale(0.1);
        opacity: 0;
    }  
    
    100% {
        transform: scale(1);
        opacity: 1;	
    }
}


.event {
    position: relative;
    font-size: 12px;
    color: #333;
    padding: 2px 5px;
    background-color: #f2f2f2;
    border-radius: 4px;
    margin-bottom: 3px;
}

.delete-button {
    position: relative;
    cursor: pointer;
    margin-left: px;
    color: #888;
    border-radius: 4px;
    margin-bottom: 3px;
}








