.switch {                   /* Das label-Element */ 
	position: relative; /* Um im nächsten Schritt den runden Button mit position:absolute festzusetzen */ 
	width: 64px;
	height: 34px;
	display: inline-block;
}

.switch span {		    /* Der graue Untergrund des Schalters */ 
	position: absolute;
	background-color: #ccc;
	border-radius: 17px;
	cursor: pointer;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	transition: background-color .4s;
}

.switch span::before {    /* Der kreisrunde Button im Switch */ 
	background-color: white;
	border-radius: 50%;
	content: "";
	position: absolute;
	left: 4px;
	bottom: 4px;
	height: 26px;
	width: 26px;
}

input:checked + span {
    background-color: rgb(0, 245, 0);
  }
  
  input:checked + span::before {
    transform: translateX(30px);
  }

  .switch input {
	display: none;
}

.switch {
	position: relative;
	display: grid;
	grid-template-columns: 230px 64px;
	grid-template-rows: 34px;
	grid-template-areas: "settings switch";


}

.switch span {
	background-color: #ccc;
	transition: 4s;
	grid-area: switch;
}

.switch p { 
	text-transform: uppercase; 
	letter-spacing: 1px;
	height: 30px;
	margin-top: 0;
}
input:checked + p::before {
	content: "Ein";
}

input:checked ~ p::after {
	content: " Ein"
}