#weather-widget {
    width: 160px;
    height: 160px;
    border: 6px solid #cccccc26;
    border-radius: 40px;
    text-align: center;
    position: center;
    padding-left: 10px;
    margin-right: 60px;
    margin-bottom: 300px;
    box-shadow: 12px 20px 15px rgba(0, 2, 2, 0.77);
    background-color: rgba(182, 190, 197, 0.519);
    box-shadow: inset 5px;

     
}

P {
    font-size: 20px;
    background-color: rgba(255, 255, 255, 0.527);
    border-radius: 50px;
    
}

h2 {
    background-color: rgba(167, 210, 248, 0.486);
    border-radius: 50px;
}

img {
    margin-top: -50px;
    height: 120px;
    animation: pulse 1ms inherit;
}







